# Include any files you want to ignore (do not want to push to GitHub)
.ipynb_checkpoints
.DS_Store
.env
.github
internal_memory_db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# VS Code
.vscode/

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# dotenv
.env
.env.*
*.env

# virtual environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Logs
*.log

# Local history
.history/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject/

# Test result files
*.out
*.test

# Temporary files
*.tmp
*.temp
*.swp
*.bak
*.orig

# Profiling data
.prof

# Others
*.sqlite3
*.db
*.tar
*.gz
*.zip